<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>About My Art</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/assets/styles/about-art.css?v=1.3">
  </head>
  <body>
    <header class="heading">
      <div class="heading-text"><h1>About My Art</h1></div>
    </header>

    <nav class="navbar">
      <ul class="navbar-list">
        <li><a href="/">Home</a></li>
        <li><a href="/portfolio">Portfolio</a></li>
        <li><a href="/aboutme">About Me</a></li>
        <li><a href="/gallery">Gallery</a></li>
        <li><a href="/contactview">Contact Me</a></li>
      </ul>
    </nav>

    <div class="container my-5">
      <div class="row g-4 align-items-start">

        <!-- Left side (picture Carousel) -->
        <div class="col-md-6">
          <div id="carouselOrea" class="carousel slide">
            <div id="carouselExampleIndicators" class="carousel slide">
                <div class="carousel-indicators">
                  <button type="button" data-bs-target="#carouselOrea" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                  <button type="button" data-bs-target="#carouselOrea" data-bs-slide-to="1" aria-label="Slide 2"></button>
                  <button type="button" data-bs-target="#carouselOrea" data-bs-slide-to="2" aria-label="Slide 3"></button>
                  <button type="button" data-bs-target="#carouselOrea" data-bs-slide-to="3" aria-label="Slide 4"></button>
                  <button type="button" data-bs-target="#carouselOrea" data-bs-slide-to="4" aria-label="Slide 5"></button>
                </div>      
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src="./assets/views/main/images/orea.jpg" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="./assets/views/main/images/orea/orea1.jpg" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="./assets/views/main/images/orea/orea2.jpg" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="./assets/views/main/images/orea/orea3.jpg" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="./assets/views/main/images/orea/orea4.jpg" class="d-block w-100" alt="...">
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselOrea" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselOrea" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
            </div>
          </div>
        </div>

        <!-- Right: Text  -->
        <div class="col-md-6">
            <div class="content-square2">
              <h2>Orea</h2>
              <p>
              This digital portrait was created on my iPad and features my dog, Orea, who is around 12 years old. Using a reference photo, 
              I added surrounding flowers to give the piece a gentle, sentimental feel. A small butterfly at the tip of her nose adds a playful 
              touch and extra detail. 
              </p>  
              <p>It’s one of my first attempts at realism and holds a special place in my heart. Not only was this a personal milestone in 
                learning digital art, but it also served as inspiration for a potential tattoo design—something meaningful that would keep 
                Orea with me wherever I go. She’s been a constant companion through my youth and into adulthood, and this piece is a tribute 
                to her presence in my life.
              </p>
            </div>
        </div>


        <!-- Left side (picture Carousel) -->
        <div class="col-md-6">
          <div id="carouselDream" class="carousel slide">
            <div id="carouselExampleIndicators" class="carousel slide">
                <div class="carousel-indicators">
                  <button type="button" data-bs-target="#carouselDream" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                  <button type="button" data-bs-target="#carouselDream" data-bs-slide-to="1" aria-label="Slide 2"></button>
                  <button type="button" data-bs-target="#carouselDream" data-bs-slide-to="2" aria-label="Slide 3"></button>
                  <button type="button" data-bs-target="#carouselDream" data-bs-slide-to="3" aria-label="Slide 4"></button>
                  <button type="button" data-bs-target="#carouselDream" data-bs-slide-to="4" aria-label="Slide 5"></button>
                  <button type="button" data-bs-target="#carouselDream" data-bs-slide-to="5" aria-label="Slide 5"></button>
                </div>      
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src="./assets/views/main/images/dream/dream.jpg" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="./assets/views/main/images/dream/dream0.jpg" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="./assets/views/main/images/dream/dream1.jpg" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="./assets/views/main/images/dream/dream2.jpg" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="./assets/views/main/images/dream/dream3.jpg" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="./assets/views/main/images/dream/dream4.jpg" class="d-block w-100" alt="...">
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselDream" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselDream" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
            </div>
          </div>
        </div>

        <!-- Right: Text  -->
        <div class="col-md-6">
          <div class="content-square2">
            <h2>Dream</h2>
            <p>
              This art piece is a mixed media piece that combines acrylic painting on canvas with digital elements. 
              If you look closely, you can spot the difference in texture—acrylic paint was used for the buildings, while the water and some 
              surrounding details were added digitally.
            </p>
            <p>
              This artwork was inspired by a surreal dream I had where the ocean flowed right up to the front steps of random buildings and 
              apartments. Strangely, this wasn’t seen as unusual in the dream, it was simply the way of life, a seamless blend of ocean 
              and everyday living. The vividness of that scene stayed with me, and I sketched it out as soon as I woke up. Since then, 
              I’ve revisited the piece many times, adding new elements like aliens and my dog Orea, gradually transforming it into something 
              deeply personal. Its true meaning is something only I fully understand, which makes it one of my most intriguing and cherished 
              creations.
            </p>
          </div>
        </div>


        <!-- Left side (picture Carousel) -->
        <div class="col-md-6">
            <div id="carouselFNF" class="carousel slide">
              <div id="carouselExampleIndicators" class="carousel slide">
                <div class="carousel-indicators">
                  <button type="button" data-bs-target="#carouselFNF" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                  <button type="button" data-bs-target="#carouselFNF" data-bs-slide-to="1" aria-label="Slide 2"></button>
                  <button type="button" data-bs-target="#carouselFNF" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src="./assets/views/main/images/fnf.jpg" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="./assets/views/main/images/fnf0.jpg" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="./assets/views/main/images/fnf1.jpg" class="d-block w-100" alt="...">
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselFNF" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselFNF" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
            </div>
          </div>
        </div>

        <!-- Right: Text  -->
        <div class="col-md-6">
          <div class="content-square2">
            <h2>Valentine FNF</h2>
            <p>
              For this Valentine’s Day project, I experimented by combining a square canvas with a circular wooden board. 
              Inspired by the game Friday Night Funkin’, I reimagined myself and my boyfriend as the main characters whose names are simply “Boyfriend” 
              and “Girlfriend” painted onto the wood.
            </p>
            <p>
              On the background square canvas, I painted a “Highscore” screen where each number holds meaning—for example, “331” 
              represents our special date, March 31st. The large “New Highscore” at the bottom marks our anniversary. This 
              personalized and playful design made for a fun and meaningful artistic expression.
            </p>           
          </div>
        </div>


        <!-- Left side (picture Carousel) -->
        <div class="col-md-6">
          <div id="carouselMangle" class="carousel slide">
            <div id="carouselExampleIndicators" class="carousel slide">
              <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselMangle" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselMangle" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselMangle" data-bs-slide-to="2" aria-label="Slide 3"></button>
                <button type="button" data-bs-target="#carouselMangle" data-bs-slide-to="3" aria-label="Slide 4"></button>
                <button type="button" data-bs-target="#carouselMangle" data-bs-slide-to="4" aria-label="Slide 5"></button>
              </div>      
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img src="./assets/views/main/images/mangle/mangle.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                  <img src="./assets/views/main/images/mangle/breakthrough-1.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                  <img src="./assets/views/main/images/mangle/mangle0.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                  <img src="./assets/views/main/images/mangle/mangle1.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                  <img src="./assets/views/main/images/mangle/mangle2.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                  <img src="./assets/views/main/images/mangle/mangle3.jpg" class="d-block w-100" alt="...">
                </div>
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselMangle" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselMangle" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
          </div>
        </div>

        <!-- Right: Text -->
        <div class="col-md-6">
          <div class="content-square2">
            <h2>Breakthrough</h2>
            <p>
              After water damage created bubbling and peeling on my ceiling and wall, I turned a frustrating situation into an 
              artistic opportunity. I noticed that whenever it rained my ceiling would develop these weird bubbles damaging my celing. At one point it somehow dragged 
              from the ceiling to my wall creating this droopy looking effect. My super then came to repair everything but left the repairs unpainted giving it 
              an unfinished look. 
            </p>
            <p>
              I decided I wanted to take this oppurtunity to paint something on my wall for the first time. I decided to try to make an illusion like painting 
              that makes it look like theres a hole on the wall with something coming out of it. I decided to draw Mangle, a Five Nights at Freddys character, for fun 
              and experimentation, sinces shes kind of an intricate character to draw. I began with a digital mockup, 
              painted the area black, sketched in pencil, and finally added paint. It was my first time working directly on a wall, and it 
              became both an experimental and empowering experience.
            </p>
          </div>
        </div>


        <!-- Left side (picture Carousel) -->
        <div class="col-md-6">
          <div id="carouselSquirell" class="carousel slide">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselSquirell" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselSquirell" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselSquirell" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="./assets/views/main/images/squirell.jpg" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="./assets/views/main/images/squirell/squirell0.jpg" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="./assets/views/main/images/squirell/squirell1.jpg" class="d-block w-100" alt="...">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselSquirell" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselSquirell" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>

        <!-- Right: Text -->
        <div class="col-md-6">
          <div class="content-square2">
            <h2>Squirrel & Rat</h2>
            <p>
              This began as a clay test using a kit from Five Below, but quickly evolved into something more meaningful.
              I sculpted squirrel and rat figures to represent me and my partner, then painted them after they dried. I decided on these animals specifically was because 
              in the beginning of our relationship we had a special moment with a squirrel that walked up to us and we were able to feed them and rats because we make a lot 
              of jokes about rats and it was one of the animals I used to get into his DMS. 
            </p>
            <p>
              After painting them I noticed they needed some place to stand. I looked around my room for anything I can use and thats when I found small wooden circle discs 
              perfect for this clay work. I added miniature clay flowers and decorative elements
              to complete the base. What started as a test project became one of my favorite creations—full of personality.
            </p>
          </div>
        </div>


        <!-- Left side (picture Carousel) -->
        <div class="col-md-6">
          <div id="carouselSpiderman" class="carousel slide">
            <div id="carouselExampleIndicators" class="carousel slide">
              <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselSpiderman" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselSpiderman" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselSpiderman" data-bs-slide-to="2" aria-label="Slide 3"></button>
                <button type="button" data-bs-target="#carouselSpiderman" data-bs-slide-to="3" aria-label="Slide 4"></button>
                <button type="button" data-bs-target="#carouselSpiderman" data-bs-slide-to="4" aria-label="Slide 5"></button>
              </div>
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img src="./assets/views/main/images/spiderman.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                  <img src="./assets/views/main/images/spiderman1.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                  <img src="./assets/views/main/images/spiderman2.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                  <img src="./assets/views/main/images/spiderman3.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                  <img src="./assets/views/main/images/spiderman4.jpg" class="d-block w-100" alt="...">
                </div>
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselSpiderman" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselSpiderman" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
          </div>
        </div>

        <!-- Right: Text -->
        <div class="col-md-6">
          <div class="content-square2">
            <h2>Spiderman Perler</h2>
            <p>
              This was one of my most ambitious projects—a gift for my significant other. I wanted to take this oppurtunity to do something different. I wanted 
              to combine perler beads, a 3D frame, comic pages, and painting to create a layered piece centered around Spider-Man.
            </p>
            <p>
              I searched up large images for a spiderman perler bead design which I found but the picture quality made it hard to see but nevertheless I successfully created the 
              perler bead design. Now it was time to place tape around it to be able to succesfully seperate the beads from the stand whilst keeping the design all together.
              While doing so I miscalculated and the whole bead design almost completely fell apart. After the disaster I patiently rebuilt it bead by bead before fusing it with an iron. 
              I then assembled a custom background using comic book pages and also placed some pages on the glass and painted spider-sense lines onto the glass for added depth. It’s a 
              mix of creativity, perseverance, and love all in one frame.
            </p>
          </div>
        </div>


        <!-- Left side (picture Carousel) -->
        <div class="col-md-6">
          <div id="carouselTree" class="carousel slide">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselTree" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselTree" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselTree" data-bs-slide-to="2" aria-label="Slide 3"></button>
          </div>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="./assets/views/main/images/tree/tree.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="./assets/views/main/images/tree/tree1.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="./assets/views/main/images/tree/tree2.jpg" class="d-block w-100" alt="...">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselTree" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselTree" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
          </div>
        </div>

        <!-- Right: Text -->
        <div class="col-md-6">
          <div class="content-square2">
            <h2>Christmas Tree</h2>
            <p>
              This was another one of my projects where I experimented with something different. This was my first time working with pipe cleaners 
              so I decided to create a Christmas tree and decorated it using beads I had as ornaments. It was a simple, festive, and hands-on project that sparked my interest in working with pipe cleaners 
              again in the future.
            </p>
          </div>
        </div>


        <!-- Left side (picture Carousel) -->
        <div class="col-md-6">
          <div id="carouselCircle" class="carousel slide">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselCircle" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselCircle" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselCircle" data-bs-slide-to="2" aria-label="Slide 3"></button>
              <button type="button" data-bs-target="#carouselCircle" data-bs-slide-to="3" aria-label="Slide 4"></button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="./assets/views/main/images/circle/circle.jpg" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="./assets/views/main/images/circle/circle0.jpg" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="./assets/views/main/images/circle/circle1.jpg" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="./assets/views/main/images/circle/circle2.jpg" class="d-block w-100" alt="...">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselCircle" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselCircle" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>

        <!-- Right: Text -->
        <div class="col-md-6">
          <div class="content-square2">
            <h2>Lovers</h2>
            <p>
              For this dual-sided wooden circle canvas, I painted two romantic scenes from SpongeBob SquarePants that shared a similar mood. 
              Inspired by a sticker I saw on TikTok, I loved experimenting with soft, expressive colors and using white to suggest invisible 
              elements, like bubbles. It was a fun exploration of style and emotion.
            </p>
            <p>
              This was a small project where I wanted to use both sides of the same wood circle board. I decided to paint two different spongebob scenery 
              that shared a similar romantic mood. Inspired by a sticker I saw on TikTok, I loved experimenting with soft, expressive colors, and 
              using white to suggest invisible elements, like bubbles, which is something I dont really do but it was an interesting technique to 
              learn.
            </p>
          </div>
        </div>


        <!-- Left side (picture Carousel) -->
        <div class="col-md-6">
          <div id="carouselJojo" class="carousel slide">
            <div id="carouselExampleIndicators" class="carousel slide">
              <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselJojo" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselJojo" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselJojo" data-bs-slide-to="2" aria-label="Slide 3"></button>
                <button type="button" data-bs-target="#carouselJojo" data-bs-slide-to="3" aria-label="Slide 4"></button>
                <button type="button" data-bs-target="#carouselJojo" data-bs-slide-to="4" aria-label="Slide 5"></button>
              </div>      
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img src="./assets/views/main/images/jojo/jojo.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                  <img src="./assets/views/main/images/jojo/jojo0.png" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                  <img src="./assets/views/main/images/jojo/jojo1.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                  <img src="./assets/views/main/images/jojo/jojo2.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                  <img src="./assets/views/main/images/jojo/jojo3.jpg" class="d-block w-100" alt="...">
                </div>
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselJojo" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselJojo" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
          </div>
        </div>

        <!-- Right: Text -->
        <div class="col-md-6">
          <div class="content-square2">
            <h2>Part 8</h2>
            <p>
              This piece is based on a manga panel from JoJolion, part 8 of the JoJo’s Bizarre Adventure series. 
              Featuring the protagonist “Josuke,” it was my first time using a round wood board.
            </p>
            </p>
              Unlike my more recent pieces I did not have an iPad at this time so I had to carefully plan the placements of different parts 
              like the Japanese text and had to color match everything to how it is in the manga. Despite this Im proud of thhe vibrant finish 
              and how it all came out together.
            </p>
          </div>
        </div>


      <!-- Left side (picture Carousel) -->
      <div class="col-md-6">
        <div id="carouselSpooky" class="carousel slide">
          <div id="carouselExampleIndicators" class="carousel slide">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselSpooky" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselSpooky" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselSpooky" data-bs-slide-to="2" aria-label="Slide 3"></button>
              <button type="button" data-bs-target="#carouselSpooky" data-bs-slide-to="3" aria-label="Slide 4"></button>
              <button type="button" data-bs-target="#carouselSpooky" data-bs-slide-to="4" aria-label="Slide 5"></button>
              <button type="button" data-bs-target="#carouselSpooky" data-bs-slide-to="5" aria-label="Slide 5"></button>
              <button type="button" data-bs-target="#carouselSpooky" data-bs-slide-to="6" aria-label="Slide 5"></button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="./assets/views/main/images/spooky/spooky.jpg" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="./assets/views/main/images/spooky/spooky0.jpg" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="./assets/views/main/images/spooky/spooky1.jpg" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="./assets/views/main/images/spooky/spooky2.jpg" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="./assets/views/main/images/spooky/spooky3.jpg" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="./assets/views/main/images/spooky/spooky4.jpg" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="./assets/views/main/images/spooky/spooky5.jpg" class="d-block w-100" alt="...">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselSpooky" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselSpooky" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
      </div>

      <!-- Right: Text -->
      <div class="col-md-6">
        <div class="content-square2">
          <h2>The Lobotomy</h2>
          <p>
            This was actually my first clay piece that I made while in a Senior Art Project class where the final goal was to present our arts 
            in a Art Show at the end. I wasnt sure what I wanted to focus on but I knew I wanted to focus on clay since at the time it was 
            new to me and I was interested in learning how to use clay efficiently. I also wanted to use a painted cardboard to support the story I wanted to tell.
          </p>
          <p>
            I took a darker, emotional route—featuring a broken family scene. A male figure sits on a couch, while two children hide behind it.
            A framed picture shows a happier past, now lost. Scattered clocks represent the loss of time and hope. I wasn’t aiming for a specific 
            message, but I wanted to evoke a sense of emotional weight, uncertainty, and fragmentation.
          </p>
        </div>
      </div>
      </div>
    </div>

    <div class="returngallery">
        <a href="/gallery" class="btn btn-secondary">Back to Gallery</a>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js">
    </script>

  <footer class="footer">
    <div class="footer-content">
        <p> 2025 Ivette Sanchez. All rights reserved.</p>
        <p><a href="/contactview">Contact Me</a> | <a href="https://github.com/Ivette-Sanchez" target="_blank">GitHub</a> | <a href="#top">Back to Top</a></p>
    </div>
  </footer>


  </body>
  </html>


